[submodule "plugin/Reveal.js-TOC-Progress"]
	path = plugin/Reveal.js-TOC-Progress
	url = https://github.com/trcook/Reveal.js-TOC-Progress.git
[submodule "plugin/Reveal.js-Title-Footer"]
	path = plugin/Reveal.js-Title-Footer
	url = https://github.com/trcook/Reveal.js-Title-Footer.git
